<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="EquipmentDwp/fragments :: html_head"/>
<body>
<!-- Script JS pour ChartJS example -->
<script src="js/charts-custom.js"></script>
<!-- -->
<div class="page">
    <!-- Main Navbar-->
    <header class="header z-index-50">
        <div th:replace="Menu :: header">...</div>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <div th:replace="EquipmentDwp/fragments :: nav_menu"></div>

        <div class="content-inner w-100">
            <!-- Page Header-->
            <header class="bg-white shadow-sm px-4 py-3 z-index-20">
                <div class="container-fluid px-0">
                    <h2 class="mb-0 p-1">Page pour visualiser la consommation du DWP</h2>
                </div>
            </header>
            <!-- Breadcrumb-->
            <div class="bg-white">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 py-3">
                            <li class="breadcrumb-item"><a class="fw-light" th:href="@{/utiliserEquipement}">Home</a></li>
                            <li class="breadcrumb-item active fw-light" aria-current="page">Surveillance</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Charts Section-->
            <section class="charts">
                <div class="container-fluid">
                    <div class="row gy-4 align-items-stretch">
                        <!-- Line Charts-->
                        <div class="col-lg-8">
                            <div class="card mb-0 h-100">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Line Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChartExample"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Line Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChartExample1"></canvas>
                                </div>
                            </div>
                            <div class="card mb-0">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChartExample2"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- Bar Charts-->
                        <div class="col-lg-4">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Bar Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChart1"></canvas>
                                </div>
                            </div>
                            <div class="card mb-0">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChart2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-0 h-100">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Bar Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChartExample"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- Doughnut Chart -->
                        <div class="col-lg-6">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Doughnut  Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10 mx-auto">
                                            <canvas id="doughnutChartExample"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pie Chart -->
                        <div class="col-lg-6">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Pie  Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10 mx-auto">
                                            <canvas id="pieChartExample"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Polar Chart-->
                        <div class="col-lg-6">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Polar Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10 mx-auto">
                                            <canvas id="polarChartExample"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Radar Chart-->
                        <div class="col-lg-6">
                            <div class="card mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <h3 class="h4 mb-0">Radar Chart Example</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10 mx-auto">
                                            <canvas id="radarChartExample"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Footer-->
            <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
            </footer>
        </div>
        </div>
    </div>
</div>
<div th:replace="EquipmentDwp/fragments :: function_ajax"/>
</body>
</html>