<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

<div th:replace="Menu :: header">...</div>
<div style="padding-left:16px">
  <h2>Bienvenu sur l'application web de l'équipe GreeNet</h2>
  <p style="width: 800px;text-align: justify;">MAJ : <br>
    [22-11-2021] => Intégration du menu principal dans les pages en rapport avec l'utilisation des équipements.<br>
    Mise en place d'une cohérence graphique entre les différentes pages métiers.
    <br>
    <br>
    [11-12-2021] => Reservation de salle par un employé. Possibilité de voir ses reservations. Communiquer avec ses collègues.<br>
    Utilisation de l'équipement lumière en rapport avec une reservation. Utilisation de l'équipement chauffage sans reservation.<br>
    Visualisation du mix énergetique par type d'énergie. <br>
    Bilan énergetique des éco-quartier de la ville. Visualisation de la production/consommation par quartier. <br>

  </p>
  <br>
</div>


</body>
</html>
