<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />
</head>
<body class="text-center">
<form class="form-signin" method="get" th:action="@{/checkUser}">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="envoi"
        style="background-color: #5743ee !important;">Sign in</button>
</form>
</body>
</html>